= form_for Comment.new, remote: true, html: { class: "form form-horizontal article" }, format: :json do |f|
  .form-group
    .col-lg-10
      = f.text_field :content, class: 'form-control', required: true
      = f.hidden_field :commentable_id, value: model.id
      = f.hidden_field :commentable_type, value: model.class
    = f.error_span(:content)
  .form-group.hidden
    .col-lg-offset-2.col-lg-10
      = f.submit class: 'btn btn-primary'
