
.page-header
  %h1='Received requests'
%table.ui.fixed.single.line.celled.table
  %thead
    %tr
      %th Sender
      %th Status
      %th Actions
  %tbody
    - @received_friendships.each do |friendship|
      - cell_type = friendship.status == :pending ? "warning" : friendship.status == :accepted ? "positive" : "negative"
      %tr{class: "#{cell_type}"}
        %td= User.find(friendship.owner_id).email
        %td
          - label_col = cell_type == "positive" ? "green" : cell_type == "negative" ? "red" : ""
          .ui.label{class: "#{label_col}"}= friendship.status
        %td
          = link_to '<i class="green check icon"></i>'.html_safe, {controller: "friendships", params: {id: friendship.id}, action: 'approve_friendship', type: :received}, method: :post
          = link_to '<i class="red times icon"></i>'.html_safe, {controller: "friendships", params: {id: friendship.id, type: :received}, action: 'destroy'}, method: :post
