.page-header
  %h1='Users List'
%table.table.table-striped
  %thead
    %tr
      %th= 'Email'
      %th= 'Last Sign In'
      %th= 'Role'
      %th= 'Friendship'
  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.last_sign_in_at
        %td= user.role
        - friendship = (Friendship.where(owner_id: current_user.id, friend_id: user.id).present? ? (Friendship.where(owner_id: current_user.id, friend_id: user.id)) : (Friendship.where(owner_id: user.id, friend_id: current_user.id)))
        - if friendship.present?
          %td
            - status_color = friendship.first.status == :accepted ? "green" : friendship.first.status == :declined ? "red" : "grey"
            %abbr{:title => "#{friendship.first.status} friendship request"}
              %i{class: "#{status_color} users icon"}
        - else
          %td
            %abbr{:title => "Send friendship request"}
              = link_to "<i class='blue user plus icon'></i>".html_safe, {controller: "friendships", action: "add_to_friends", params: {owner_id: current_user.id, friend_id: user.id, status: :pending}}, method: :post
